/* Main settings for the entire page */

/* Main settings for the entire page */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #2089CA;
    font-family: 'Merriweather', serif;
    font-weight: 400; /* Normal weight; use 700 for bold */
}

.nav-settings {
    background-color: #2188CA;
    color: #FFFFFF;
}

.nav-buttons {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909; /* Adjusted text color */
    padding: 5px 5px;
    font-size: 24px;
    border-radius: 0.5em;
    background: #2188CA; /* Primary color for nav-buttons */
    border: 1px solid #2188CA; /* Solid border with the same color as background */
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.3), /* Darker shadow for depth */
               -6px -6px 12px #2188CA; /* Lighter shadow for raised effect */
}

.nav-buttons > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
    fill: #ffffff; /* White fill for SVG icons */
}

.nav-buttons:active {
    color: #CCC;
    box-shadow: inset 4px 4px 12px rgba(0, 0, 0, 0.3), /* Inner shadow for pressed effect */
               inset -4px -4px 12px #2188CA; /* Lighter inner shadow for consistency */
}

.nav-buttons:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05); /* Subtle overlay for a soft touch */
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.nav-buttons:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #2188CA; /* Background color for the animated effect */
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.nav-buttons:hover {
    color: #2188CA;
    border: 1px solid #2188CA; /* Highlight border on hover */
    background: #2188CA; /* Lighter background on hover for visibility */
}

.nav-buttons:hover > svg {
    fill: #2188CA; /* Revert SVG fill to original color on hover */
}

.nav-buttons:hover:before {
    top: -35%;
    background-color: #ffffff; /* Hover effect for the before pseudo-element */
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.nav-buttons:hover:after {
    top: -45%;
    background-color: #ffffff; /* Hover effect for the after pseudo-element */
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


nav section button a {
    text-decoration: none;
    color: inherit; /* Ensures anchor tags inside buttons inherit button text color */
}

.nav-buttons.grow:hover {
    transform: scale(1.05); /* subtle growth effect on hover */
}


.logo_h1 h1 {
    color: white;
}

.spline-settings {
    background-color: #FFFFFF;
    color: #2188CA;
}
.Servicios-Boxes, .Servicios-Boxes2 {
    color: white;
}

footer {
    background-color: white;
}



/* Atropos Initialization */
.my-atropos {
    width: 200px;
    height: 400px;
    color: #2089CA;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 5px;
    font-size: .8em;
}


/* Nav Settings */ 



.nav-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


nav section {
    margin: 0 5px;
    padding: 5px;
}

.logo_h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 5px;
}

.logo_h1 h1 {
    margin: auto 5px;
}

.logo {
    width: 40px;
    height: 40px;
}

.nav-buttons {
    background-color: #FFFFFF; /* existing styling */
    border: 1px solid #2188CA; /* existing styling */
    color: #2188CA; /* existing styling */
    transition: .5s, color .10s; /* transition effects for smooth color change */
    -webkit-transition: .5s, color .10s; /* for WebKit browsers */
    -moz-transition: .5s, color .10s; /* for Mozilla browsers */
    margin: 0 7px;
    border-radius: 5px;
    font-size: 15px;
}

nav section button a {
    text-decoration: none;
}

.nav-buttons.grow:hover {
    transform: scale3d(1.5, 1.5, 0.3); /* scale the button on hover */
    -webkit-transform: scale3d(1.5, 1.5, 0.3); /* for WebKit browsers */
    -moz-transform: scale3d(1.5, 1.5, 0.3); /* for Mozilla browsers */
}




/* Spline settings */
.spline-settings {
    width: 100%;
    height: 600px;
}

/* servicios box settings */ 

.Servicios-Boxes, .Servicios-Boxes2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 10px; /* Margin from left and right edges */
}

.servicios {
    background-color: white;
    text-align: center;
    margin: 0 15px; /* Margin between items */
    flex: 1 0 30%; /* Flex basis set to 30% so 3 items fit within the row */
    padding: 5px;
}

.servicios img {
    width: 180px;
    height: 100px;
    margin: 5px auto;
    border: 2px solid #2089CA;
    border-radius: 5px;
}



/* Footer Settings */

footer {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
}

.footer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    width: 100%;
} 

ul li a {
    text-decoration: none;
    color: #2188CA;
}

ul li {
    margin: 0 50px;
    justify-content: center;
}

.whatsapp {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #009087;
    border: 1px solid #009087;
    box-shadow: 6px 6px 12px #009087,
               -6px -6px 12px #54bfb8;
}
  
  .whatsapp > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
    fill: #ffffff;
}
  
  .whatsapp:active {
    color: #CCC;
    box-shadow: inset 4px 4px 12px #009087,
               inset -4px -4px 12px #54bfb8;
}
  
  .whatsapp:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
  
  .whatsapp:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
  
  .whatsapp:hover {
    color: #009087;
    border: 1px solid #009087;
    background: #ffffff;
}

.whatsapp:hover > svg {
    fill: #009087;
}
  
  .whatsapp:hover:before {
    top: -35%;
    background-color: #ffffff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
  
.whatsapp:hover:after {
    top: -45%;
    background-color: #ffffff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.facebook {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #FFFFFF; /* White text color for contrast */
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #4267B2; /* Facebook's blue */
    border: 1px solid #4267B2; /* Border the same as background */
    box-shadow: 6px 6px 12px #345391, -6px -6px 12px #507CCF;
  }
  
  .facebook > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
    fill: #FFFFFF; /* White SVG for contrast */
  }
  
  .facebook:active {
    color: #CCC;
    box-shadow: inset 4px 4px 12px #345391, inset -4px -4px 12px #507CCF;
  }
  
  .facebook:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .facebook:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #FFFFFF;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .facebook:hover {
    color: #4267B2; /* Blue text color for contrast */
    border: 1px solid #FFFFFF;
    background: #FFFFFF; /* White background */
  }
  
  .facebook:hover > svg {
    fill: #4267B2; /* Fill SVG with blue */
  }
  
  .facebook:hover:before,
  .facebook:hover:after {
    top: -35%;
    background-color: #ffffff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.instagram {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #FFFFFF; /* White text color for contrast */
    padding: 0.7em 3.3em 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    border: 1px solid transparent; /* Transparent border blends with the background */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .instagram > svg {
    height: 30px;
    position: absolute;
    padding: 0px 5px;
    margin-top: -4px;
    fill: #FFFFFF; /* White SVG for contrast */
  }
  
  .instagram:active {
    color: #CCC;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .instagram:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .instagram:hover {
    color: #bc1888; /* Changes text color to a deep purple for visibility */
    background: #FFFFFF; /* White background on hover */
  }
  
  .instagram:hover > svg {
    fill: #bc1888; /* Fill SVG with a deep purple */
  }
  
  .instagram:hover:before {
    top: -35%;
    background-color: #ffffff;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


/* Media Queries */ 



  
  
  
  
